.App {
  display: flex;
  flex-direction: row;
}

.bodyFlex {
  display: flex;
  flex-direction: row;
}

.SideBar{
  padding: 40px;
  left: 0px;
  height: 100vh;
  width: 150px;
  display: flex;
  flex-direction: column;
  border-right: 0.2px solid #C4C4C4;
  border-width: 1px;
}

.logoImg {
  width: 100px;
  height: auto;
}

.CategoryTitle {
  text-align: left;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 100;
  color: #7A869C;
}

.CategoryContent {
  text-align: left;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  color: #7A869C;
}
.CategoryContentSelected {
  text-align: left;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  color: #333F62;
  font-weight: bold;
}
.CategoryComps {
  margin-top: 25px;
  color: #7A869C;
}

.divHeaderImg {
  margin-left: auto;
  margin-right: auto;
  width: 840px;
  height: 250px;
  margin-top: 50px;
}

.imageHeader {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.WatchNowComp {
  position: absolute;
  top: 280px;
  padding: 20px;
  margin-left: 16px;
  backdrop-filter: blur(2px);
}
.WatchNowText {
  color: white;
}
.ArrowWhite {
  width: auto;
  height: 10px;
  margin-left: 5px;
}
.WatchNowFav {
  position: absolute;
  top: 280px;
  padding: 20px;
  margin-left: 250px;
  backdrop-filter: blur(2px);
}
.FavoriteWhite {
  width: auto;
  height: 10px;
  margin-left: 5px;
}
.Image {
  width: 240px;
  height: 300px;
}
.dislikeButton {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 280px;
  left: 30px;
  border-width: 0ch;
}
.likeButton {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 280px;
  left: 150px;
  border-width: 0ch;
}
.pass {
  width: auto;
  height: 15px;
}

.ImageCard {
  width: auto;
  height: 300px;
}

.Cards {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-gap: 40px;
}

.titleMovie {
  font-weight: bold;
}
.category {
  font-weight: lighter;
}

.bodyColumn {
  display: flex;
  flex-direction: column;
}