.colorMain {
  background-color: black;
  height: 100vh;
}

.flexContent {
  display: flex;
  flex-direction: row;
}

.bodyFlex {
  display: flex;
  flex-direction: row;
}

.SideBar{
  position: fixed;
  z-index: 999;
  padding-left: 20px;
  padding-top: 20px;
  background-color: black;
  left: 0px;
  height: 100vh;
  width: 150px;
  display: flex;
  flex-direction: column;
  /* border-right: 0.2px solid #C4C4C4;
  border-width: 1px; */
}
.marginLeft {
  margin-left: 150px
}
.logoImg {
  width: 100px;
  height: auto;
}

.CategoryTitle {
  text-align: left;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 100;
  color: #7A869C;
}

.CategoryContent {
  text-align: left;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  color: #7A869C;
}
.CategoryContentSelected {
  text-align: left;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  color: #333F62;
  font-weight: bold;
}
.CategoryComps {
  margin-top: 25px;
  color: #7A869C;
}

.divHeaderImg {
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 840px;
  height: 250px; */
  margin-top: 50px;
  margin-bottom: 50px;
}

.imageHeader {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.WatchNowComp {
  position: absolute;
  top: 280px;
  padding: 20px;
  margin-left: 16px;
  backdrop-filter: blur(2px);
}
.WatchNowText {
  color: white;
}
.ArrowWhite {
  width: auto;
  height: 10px;
  margin-left: 5px;
}
.WatchNowFav {
  position: absolute;
  top: 280px;
  padding: 20px;
  margin-left: 250px;
  backdrop-filter: blur(2px);
}
.FavoriteWhite {
  width: auto;
  height: 10px;
  margin-left: 5px;
}
.Image {
  width: 240px;
  height: 300px;
}
.dislikeButton {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 280px;
  left: 30px;
  border-width: 0ch;
}
.likeButton {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 280px;
  left: 150px;
  border-width: 0ch;
}
.pass {
  width: auto;
  height: 15px;
}

.ImageCard {
  width: 100px;
  height: 300px;
}

.Cards {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 40px; */



  /* grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;

  margin-left: 20px;
  margin-top: 20px; */


  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;

}
@media (min-width: 600px) {
  .Cards { grid-template-columns: repeat(2, 1fr); }

  .dislikeButton {
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 280px;
    left: 30px;
    border-width: 0ch;
  }

  .imageHeader {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
}

@media (min-width: 900px) {
  .Cards { grid-template-columns: repeat(3, 1fr); }
}

.titleMovie {
  font-weight: bold;
}
.category {
  font-weight: lighter;
}

.bodyColumn {
  display: flex;
  flex-direction: column;
}

.selection {
  width: 200px;
}